<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <title>Developers forum</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>Added question/answers</h2>
            <p><strong>name: </strong>{{movie.movieTitle}}</p>
            <p><strong>question: </strong>{{movie.movieYear}}</p>
            <p><strong>answer: </strong>{{movie.movieIMDB}}</p>
            <a href="/"><button class="btn btn-primary">add another question/answer</button></a>
        </div>
    </body>
</html>